<!-- MAIN SECTION -->
<section class="mainContent full-width clearfix aboutSection">
  <div class="container">
    <div class="sectionTitle text-center">
      <h2>
        <span class="shape shape-left bg-color-4"></span>
        <span translate="ABOUT_US"></span>
        <span class="shape shape-right bg-color-4"></span>
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-push-6 col-xs-12">
        <img src="img/about_us/main.jpg" alt="image" class="img-responsive img-rounded">
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-xs-12">
        <div class="schoolInfo">
          <h2 translate="ABOUT_US_HEADER"></h2>
          <p translate="ABOUT_US_PARAGRAPH_ONE"></p>
          <p translate="ABOUT_US_PARAGRAPH_TWO"></p>
          <p class="color-3" translate="ABOUT_US_BULLET_HEADER"></p>
          <ul class="list-unstyled para-list">
            <li><i class="fa fa-check" aria-hidden="true"></i> {{ 'ABOUT_US_BULLET_ONE' | translate }}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{ 'ABOUT_US_BULLET_TWO' | translate }}</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> {{ 'ABOUT_US_BULLET_THREE' | translate }}</li>
          </ul>
          <!-- <a href="about_us.html" class="btn btn-primary">read more</a> -->
        </div>
      </div>
    </div>
  </div>
</section>

