<!-- MAIN SECTION -->
<section class="mainContent full-width clearfix aboutSection">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6 col-xs-12">
        <img src="img/about_us/main.jpg" alt="image" class="img-responsive img-rounded">
      </div>
      <div class="col-sm-6 col-sm-pull-6 col-xs-12">
        <div class="schoolInfo">
          <h2 translate="ABOUT_US_HEADER"></h2>
          <p translate="ABOUT_US_PARAGRAPH_ONE"></p>
          <p class="color-3">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          <ul class="list-unstyled para-list">
            <li><i class="fa fa-check" aria-hidden="true"></i> Vestibulum iaculis quam ac libero volutpat placerat.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Phasellus sit amet risus fringilla, aliquet lacus vel, suscipit lorem.</li>
            <li><i class="fa fa-check" aria-hidden="true"></i> Etiam suscipit velit et tellus bibendum interdum.</li>
          </ul>
          <a href="about_us.html" class="btn btn-primary">read more</a>
        </div>
      </div>
    </div>
  </div>
</section>

