<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="sectionTitle text-center">
      <h2>
        <span class="shape shape-left bg-color-4"></span>
        <span translate="COURSE_LIST"></span>
        <span class="shape shape-right bg-color-4"></span>
      </h2>
    </div>
    <div class="tabCommon">
      <uib-tabset active="active">
        <uib-tab index="0" heading="{{ 'CAMP_ORIGINAL' | translate }}">
          <div class="row">
            <div class="col-xs-12">
              <div class="accordionCommon">
                <uib-accordion template-url="template/accordion.html">
                  <div uib-accordion-group template-url="template/accordion-group-color-1.html" heading="MAD_SCIENCE_ADVENTURE_CAMP">
                    heelo
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-2.html" heading="MAD_SCIENCE_FUN_CAMP">
                    heelo
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-3.html" heading="MAD_SCIENCE_FANTASTIC_CAMP">
                    heelo
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-4.html" heading="MAD_SCIENCE_GENIUS_CAMP">
                    heelo
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-5.html" heading="MAD_SCIENCE_HA_HA_HA_CAMP">
                    heelo
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-6.html" heading="RED_HOT_ROBOTS">
                    heelo
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-1.html" heading="MAD_SCIENCE_ADVENTURE_THROUGH_TIME">
                    heelo
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-2.html" heading="SECRET_AGENT_LAB_ONE">
                    heelo
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-3.html" heading="SECRET_AGENT_LAB_TWO">
                    heelo
                  </div>
                </uib-accordion>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="{{ 'CAMP_CLASSROOM' | translate }}">
        2
        </uib-tab>
        <uib-tab index="2" heading="{{ 'CAMP_KINDERGARTEN' | translate }}">
        3
        </uib-tab>
      </uib-tabset>
      <!-- <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Details</a></li>
        <li><a data-toggle="tab" href="#menu2">Review(2)</a></li>
      </ul>
      <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
          hi
        </div>
        <div id="menu2" class="tab-pane fade">
          hi2
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-1.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-1">$50</div>
          <div class="caption border-color-1">
            <h3><a href="course-single-left-sidebar.html" class="color-1" translate="MAD_SCIENCE_ADVENTURE_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-yellow">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-2.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-2">$50</div>
          <div class="caption border-color-2">
            <h3><a href="course-single-left-sidebar.html" class="color-2" translate="MAD_SCIENCE_FUN_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-green">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-3.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-3">$50</div>
          <div class="caption border-color-3">
            <h3><a href="course-single-left-sidebar.html" class="color-3" translate="MAD_SCIENCE_FANTASTIC_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-red">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-4.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-4">$50</div>
          <div class="caption border-color-4">
            <h3><a href="course-single-left-sidebar.html" class="color-4" translate="MAD_SCIENCE_GENIUS_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-sky">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-3.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-5">$50</div>
          <div class="caption border-color-5">
            <h3><a href="course-single-left-sidebar.html" class="color-5" translate="MAD_SCIENCE_HA_HA_HA_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-purple">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-4.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-6">$50</div>
          <div class="caption border-color-6">
            <h3><a href="course-single-left-sidebar.html" class="color-6" translate="RED_HOT_ROBOTS"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-pink">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-1.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-1">$50</div>
          <div class="caption border-color-1">
            <h3><a href="course-single-left-sidebar.html" class="color-1" translate="MAD_SCIENCE_ADVENTURE_THROUGH_TIME"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-yellow">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-2.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-2">$50</div>
          <div class="caption border-color-2">
            <h3><a href="course-single-left-sidebar.html" class="color-2" translate="SECRET_AGENT_LAB_ONE"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-green">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-3.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-3">$50</div>
          <div class="caption border-color-3">
            <h3><a href="course-single-left-sidebar.html" class="color-3" translate="SECRET_AGENT_LAB_TWO"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-green">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
