<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="sectionTitle text-center">
      <h2>
        <span class="shape shape-left bg-color-4"></span>
        <span translate="COURSE_LIST"></span>
        <span class="shape shape-right bg-color-4"></span>
      </h2>
    </div>
    <div class="tabCommon">
      <uib-tabset active="active">
        <uib-tab index="0" heading="{{ 'CAMP_ORIGINAL' | translate }}">
          <div class="row">
            <div class="col-xs-12">
              <div class="accordionCommon">
                <uib-accordion template-url="template/accordion.html">
                  <div uib-accordion-group template-url="template/accordion-group-color-1.html" heading="MAD_SCIENCE_ADVENTURE_CAMP" is-open="tabs.adventureCamp.isExpanded">
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">วิทยาศาสตร์และกีฬา (Science of Sport)</span><br>สนุกกับกิจกรรมที่เกี่ยวกับการเคลื่อนไหวและการทรงตัว ทดลองหาความจุของปอดด้วยกิจกรรมทางวิทยาศาสตร์ สนุกกับการทำนกฮูกไต่ราวเพื่อนำกลับบ้าน
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ธรรมชาติน่ารัก (Nature)</span><br>สำรวจโลกของพืชและสัตว์ด้วยการฝึกฝนทักษะต่างๆทางวิทยาศาสตร์ สนุกกับประสาทการดมกลิ่นของตนเองและการหล่อรอยเท้าสัตว์ชนิดต่างๆจากแม่พิมพ์
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รหัสหรรษา (Mad Message)</span><br>ค้นหาการส่งข้อความลับโดยใช้รหัสพิเศษ เรียนรู้การหารอยนิ้วมือและใช้ความคิดทางวิทยาศาสตร์สื่อสารกับเพื่อนด้วยรหัสตัวเลขแสนสนุกจากจานรหัส
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รู้รัก..พิทักษ์โลก (Earth Awareness)</span><br>ค้นหาว่าวิทยาศาสตร์ช่วยปกป้องโลกของเราจากมลภาวะต่างๆได้อย่างไร เด็กๆจะช่วยกันรีไซเคิลกระดาษเก่าเพื่อนำกลับมาใช้ใหม่
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ครัววิทยาศาสตร์ (Science Kitchen)</span><br>เด็กๆจะเพลิดเพลินกับสาระทางวิทยาศาสตร์ที่เกี่ยวข้องกับอาหาร และการทำขนมคุกกี้ สนุกกับการทดสอบความเป็นกรดและด่างของสารเคมีต่างๆที่พบเห็นในบ้าน
                    </p>
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-2.html" heading="MAD_SCIENCE_FUN_CAMP" is-open="tabs.funCamp.isExpanded">
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">วิศวกรรุ่นจิ๋ว (Junior Engineers)</span><br>มนุษย์อวกาศรุ่นจิ๋วจะเรียนรู้เกี่ยวกับความลี้ลับของระบบสุริยจักรวาล ศึกษาการใช้ชีวิตของมนุษย์อวกาศและการรับประทานอาหารเมื่ออยู่ในสภาพไร้น้ำหนัก
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ความลับสุดขอบฟ้า (Space)</span><br>สำรวจโลกของพืชและสัตว์ด้วยการฝึกฝนทักษะต่างๆทางวิทยาศาสตร์ สนุกกับประสาทการดมกลิ่นของตนเองและการหล่อรอยเท้าสัตว์ชนิดต่างๆจากแม่พิมพ์
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ปฏิกิริยามหาสนุก (Crazy Chemistry)</span><br>สนุกกับโลกของนักเคมีด้วยการเรียนรู้กับสิ่งของต่างๆที่เด็กได้พบเห็นในชีวิตประจำวัน ตื่นตากับปฏิกิริยาทางเคมีและเพลิดเพลินกับการสร้างผลึกรูปทรงต่างๆ
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">นกน้อยกับน้องหนู (The Birds & The Beast)</span><br>เรียนรู้เกี่ยวกับธรรมชาติของนก การดำรงชีวิตและการกินอาหารของนก ระบบนิเวศน์ของสิ่งมีชีวิตและประทับใจกับสิ่งประดิษฐ์เพื่อนำกลับบ้าน
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">จักรกล...คนช่างคิด (Machine Mania)</span><br>เรียนรู้และสนุกกับเครื่องผ่อนแรงชนิดต่างๆที่เด็กพบเห็นในชีวิตประจำวัน ประดิษฐ์เครื่องผ่อนแรงอย่างง่ายและสนุกกับเครื่องมือที่ประดิษฐ์ขึ้น
                    </p>
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-3.html" heading="MAD_SCIENCE_FANTASTIC_CAMP" is-open="tabs.fantasticCamp.isExpanded">
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">จอมซนคนเล่นแสง (Shutterbugs)</span><br>เรียนรู้คุณสมบัติของแสง การหักเหและการสะท้อนของแสง กล้องถ่ายรูปทำงานได้อย่างไร ศึกษาเลนส์ชนิดต่างๆและสนุกกับการสร้างภาพลวงตาด้วยตนเอง
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ร่างกายร้ายกาจ (Organ Trail)</span><br>เรียนรู้และสนุกกับระบบต่างๆของร่างกายทั้งระบบการหมุนเวียนของโลหิต ระบบย่อยอาหาร ระบบหายใจ ศึกษาการทำงานของหัวใจ ปอด กระเพาะอาหาร สมอง เด็กๆจะได้โครงกระดูกจำลองเพื่อนำกลับบ้าน
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">นักสืบวิทยาศาสตร์ (At The Scene of The Crime)</span><br>ฝึกฝนการใช้ทักษะทางวิทยาศาสตร์ต่างๆเพื่อสืบหาคำตอบของคดีอาชญากรรมที่เกิดขึ้น เด็กๆจะฝึกฝนการคิดอย่างเป็นระบบและเป็นเหตุเป็นผลจากเหตุการณ์จำลองที่เกิดขึ้น
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">นักเคมีตัวน้อย (Radical Reactions)</span><br>สนุกกับปฏิกิริยาเคมีต่างๆที่ปลอดภัยและให้ความรู้ ทั้งปฏิกิริยาที่คายความร้อน และรับความร้อน การทำหมึกล่องหนโดยอาศัยความรู้ของการทำปฏิกิริยาของสารเคมี
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">เวทมนตร์เคมี (Chemical Counting)</span><br>เรียนรู้เกี่ยวกับธาตุต่างๆในโลกผ่านเกมส์ที่สนุกสนาน ศึกษาการทำปฏิกิริยาระหว่างน้ำนมกับน้ำส้มสายชู และสนุกกับกระดาษพิเศษที่สามารถเป็นตัวนำไฟฟ้าได้
                    </p>
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-4.html" heading="MAD_SCIENCE_GENIUS_CAMP" is-open="tabs.geniusCamp.isExpanded">
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">วิทยาศาสตร์สุดสุด (Super Scientist)</span><br>สนุกกับการฝึกฝนทักษะต่างๆทางวิทยาศาสตร์ทั้งการสังเกต การตั้งสมมติฐาน การทดลอง การสรุปผล รวมทั้งการกะประมาณ การชั่ง ตวง วัด และทักษะพื้นฐานอื่นๆทางวิทยาศาสตร์
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">นักประดิษฐ์คิดสนุก (Young Inventor)</span><br>เรียนรู้ขั้นตอนการทำงานของนักประดิษฐ์ ฝึกฝนการคิดและการระดมสมอง ได้รู้จักนักประดิษฐ์และสิ่งประดิษฐ์ที่น่าทึ่ง เด็กๆจะได้ลงมือประดิษฐ์ของเล่น ของใช้ตามจินตนาการของตนเอง
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">พริกขี้หนูทะยานฟ้า (Do You Want to Fly?)</span><br>เรียนรู้คุณสมบัติของอากาศและความสัมพันธ์ของความกดอากาศที่มีผลต่อการบิน เด็กๆจะได้ทดลองสร้างเครื่องร่อนหลากรูปแบบ และสนุกกับกิจกรรมเกี่ยวกับอากาศและการบินที่น่าตื่นเต้น
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">32+5=1 (MySenses and Myself)</span><br>สนุกกับการเรียนรู้อวัยวะต่างๆในร่างกาย การทำงานของอวัยวะต่างๆที่สัมพันธ์กันเป็นระบบอวัยวะ สนุกกับการทดลองเรื่องประสาทสัมผัสทั้ง 5 และยืดเส้นยืดสายกับกิจกรรมที่ต้องทำงานร่วมกันเป็นทีม
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ฮุยเลฮุย...ตะลุยฐานวิทย์ (Mad Science Rally)</span><br>สนุกกับฐานวิทยาศาสตร์สุดท้าทายและร่วมมือกันฝ่าด่านต่างๆ โดยในแต่ละฐานเด็กๆจะได้เรียนรู้ข้อมูลทางวิทยาศาสตร์ และการแก้ปัญหาเป็นทีม เด็กจะนำคะแนนสะสมมาแลกของรางวัลเพื่อเป็นกำลังใจในความพยายาม
                    </p>
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-5.html" heading="MAD_SCIENCE_HA_HA_HA_CAMP" is-open="tabs.hahahaCamp.isExpanded">
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">วิทยาศาสตร์ทะลุจอ (3...2...1 Action)</span><br>สนุกกับการทดลองที่หลากหลายซึ่งเด็กๆอาจเคยชมทางโทรทัศน์ ทั้งยังได้ฝึกฝนทักษะในการสังเกต การตั้งสมมติฐาน การทดลองการสรุปผล ผ่านการทดลองและกิจกรรมที่ชวนให้ค้นหา และในตอนท้ายเด็กๆยังจะได้ลงมือสร้างสรรค์ชิ้นงานสุดพิเศษเพื่อนำกลับบ้าน
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ของเล่นกับความลับ (The Secret of Toy)</span><br>เรียนรู้หลักการทางวิทยาศาสตร์ต่างๆผ่านการเล่นและของเล่นหลากชนิด ทั้งยังได้จะทดลองนำความรู้ทางวิทยาศาสตร์มาสร้างสรรค์ของเล่นด้วยตนเอง
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">จรวดมหาสนุก (Newton’s Fun Rocket)</span><br>สนุกสนานกับการทดลองเรื่องจรวดได้ทำกิจกรรมเพื่อศึกษากฎของนิวตันซึ่งสัมพันธ์กับหลักในการทะยานฟ้าและได้ทดลองปรับแต่งและยิงจรวดชนิดพิเศษของ  MAD SCIENCE
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">มายาน่าฉงน (Science of Magic)</span><br>ตื่นตาตื่นใจกับมายากลชวนฉงนได้เรียนรู้ว่าการแสดงมายากลแต่ละชุดสามารถอธิบายได้ด้วยเหตุผลทางวิทยาศาสตร์ และได้ทดลองนำหลักการทางวิทยาศาสตร์มาแสดงเป็นกลน่าพิศวง
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">เจ้าหนู...ผู้เหลือรอด (Mad Science Survivor)</span><br>เด็กๆจะได้รับการท้าทายให้นำความรู้ทางวิทยาศาสตร์มาประยุกต์ใช้ เพื่อช่วยผู้ประสบภัยให้สามารถดำรงชีวิตได้ในสถานการณ์จำลอง  โดยเด็กๆจะได้สนุกกับการค้นหาน้ำและปรุงอาหารด้วยการใช้หลักการทางวิทยาศาสตร์ และได้ฝึกฝนทักษะในการแก้ปัญหาโดยใช้ปัญญาเป็นอาวุธ
                    </p>
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-6.html" heading="RED_HOT_ROBOTS" is-open="tabs.robotsCamp.isExpanded">
                    <div>
                      <span style="font-weight: 600; text-decoration: underline;">ก้าวแรกสู่โลกหุ่นยนต์ ( Ready for Robots)</span>
                      <ul>
                        <li style="list-style-type: circle;">ศึกษาหลักการเบื้องต้นของหุ่นยนต์</li>
                        <li style="list-style-type: circle;">เรียนรู้กลไกและส่วนประกอบสำคัญของหุ่นยนต์ผ่านกิจกรรมและเกมที่น่าตื่นเต้น</li>
                        <li style="list-style-type: circle;">เริ่มสร้างหุ่นยนต์อัจฉริยะของตนเอง</li>
                      </ul>
                    </div>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ธรรมชาติน่ารัก (Nature)</span><br>สำรวจโลกของพืชและสัตว์ด้วยการฝึกฝนทักษะต่างๆทางวิทยาศาสตร์ สนุกกับประสาทการดมกลิ่นของตนเองและการหล่อรอยเท้าสัตว์ชนิดต่างๆจากแม่พิมพ์
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รหัสหรรษา (Mad Message)</span><br>ค้นหาการส่งข้อความลับโดยใช้รหัสพิเศษ เรียนรู้การหารอยนิ้วมือและใช้ความคิดทางวิทยาศาสตร์สื่อสารกับเพื่อนด้วยรหัสตัวเลขแสนสนุกจากจานรหัส
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รู้รัก..พิทักษ์โลก (Earth Awareness)</span><br>ค้นหาว่าวิทยาศาสตร์ช่วยปกป้องโลกของเราจากมลภาวะต่างๆได้อย่างไร เด็กๆจะช่วยกันรีไซเคิลกระดาษเก่าเพื่อนำกลับมาใช้ใหม่
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ครัววิทยาศาสตร์ (Science Kitchen)</span><br>เด็กๆจะเพลิดเพลินกับสาระทางวิทยาศาสตร์ที่เกี่ยวข้องกับอาหาร และการทำขนมคุกกี้ สนุกกับการทดสอบความเป็นกรดและด่างของสารเคมีต่างๆที่พบเห็นในบ้าน
                    </p>
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-1.html" heading="MAD_SCIENCE_ADVENTURE_THROUGH_TIME" is-open="tabs.throughTimeCamp.isExpanded">
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">วิทยาศาสตร์และกีฬา (Science of Sport)</span><br>สนุกกับกิจกรรมที่เกี่ยวกับการเคลื่อนไหวและการทรงตัว ทดลองหาความจุของปอดด้วยกิจกรรมทางวิทยาศาสตร์ สนุกกับการทำนกฮูกไต่ราวเพื่อนำกลับบ้าน
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ธรรมชาติน่ารัก (Nature)</span><br>สำรวจโลกของพืชและสัตว์ด้วยการฝึกฝนทักษะต่างๆทางวิทยาศาสตร์ สนุกกับประสาทการดมกลิ่นของตนเองและการหล่อรอยเท้าสัตว์ชนิดต่างๆจากแม่พิมพ์
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รหัสหรรษา (Mad Message)</span><br>ค้นหาการส่งข้อความลับโดยใช้รหัสพิเศษ เรียนรู้การหารอยนิ้วมือและใช้ความคิดทางวิทยาศาสตร์สื่อสารกับเพื่อนด้วยรหัสตัวเลขแสนสนุกจากจานรหัส
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รู้รัก..พิทักษ์โลก (Earth Awareness)</span><br>ค้นหาว่าวิทยาศาสตร์ช่วยปกป้องโลกของเราจากมลภาวะต่างๆได้อย่างไร เด็กๆจะช่วยกันรีไซเคิลกระดาษเก่าเพื่อนำกลับมาใช้ใหม่
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ครัววิทยาศาสตร์ (Science Kitchen)</span><br>เด็กๆจะเพลิดเพลินกับสาระทางวิทยาศาสตร์ที่เกี่ยวข้องกับอาหาร และการทำขนมคุกกี้ สนุกกับการทดสอบความเป็นกรดและด่างของสารเคมีต่างๆที่พบเห็นในบ้าน
                    </p>
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-2.html" heading="SECRET_AGENT_LAB_ONE" is-open="tabs.labOneCamp.isExpanded">
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">วิทยาศาสตร์และกีฬา (Science of Sport)</span><br>สนุกกับกิจกรรมที่เกี่ยวกับการเคลื่อนไหวและการทรงตัว ทดลองหาความจุของปอดด้วยกิจกรรมทางวิทยาศาสตร์ สนุกกับการทำนกฮูกไต่ราวเพื่อนำกลับบ้าน
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ธรรมชาติน่ารัก (Nature)</span><br>สำรวจโลกของพืชและสัตว์ด้วยการฝึกฝนทักษะต่างๆทางวิทยาศาสตร์ สนุกกับประสาทการดมกลิ่นของตนเองและการหล่อรอยเท้าสัตว์ชนิดต่างๆจากแม่พิมพ์
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รหัสหรรษา (Mad Message)</span><br>ค้นหาการส่งข้อความลับโดยใช้รหัสพิเศษ เรียนรู้การหารอยนิ้วมือและใช้ความคิดทางวิทยาศาสตร์สื่อสารกับเพื่อนด้วยรหัสตัวเลขแสนสนุกจากจานรหัส
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รู้รัก..พิทักษ์โลก (Earth Awareness)</span><br>ค้นหาว่าวิทยาศาสตร์ช่วยปกป้องโลกของเราจากมลภาวะต่างๆได้อย่างไร เด็กๆจะช่วยกันรีไซเคิลกระดาษเก่าเพื่อนำกลับมาใช้ใหม่
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ครัววิทยาศาสตร์ (Science Kitchen)</span><br>เด็กๆจะเพลิดเพลินกับสาระทางวิทยาศาสตร์ที่เกี่ยวข้องกับอาหาร และการทำขนมคุกกี้ สนุกกับการทดสอบความเป็นกรดและด่างของสารเคมีต่างๆที่พบเห็นในบ้าน
                    </p>
                  </div>
                  <div uib-accordion-group template-url="template/accordion-group-color-3.html" heading="SECRET_AGENT_LAB_TWO" is-open="tabs.labTwoCamp.isExpanded">
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">วิทยาศาสตร์และกีฬา (Science of Sport)</span><br>สนุกกับกิจกรรมที่เกี่ยวกับการเคลื่อนไหวและการทรงตัว ทดลองหาความจุของปอดด้วยกิจกรรมทางวิทยาศาสตร์ สนุกกับการทำนกฮูกไต่ราวเพื่อนำกลับบ้าน
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ธรรมชาติน่ารัก (Nature)</span><br>สำรวจโลกของพืชและสัตว์ด้วยการฝึกฝนทักษะต่างๆทางวิทยาศาสตร์ สนุกกับประสาทการดมกลิ่นของตนเองและการหล่อรอยเท้าสัตว์ชนิดต่างๆจากแม่พิมพ์
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รหัสหรรษา (Mad Message)</span><br>ค้นหาการส่งข้อความลับโดยใช้รหัสพิเศษ เรียนรู้การหารอยนิ้วมือและใช้ความคิดทางวิทยาศาสตร์สื่อสารกับเพื่อนด้วยรหัสตัวเลขแสนสนุกจากจานรหัส
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">รู้รัก..พิทักษ์โลก (Earth Awareness)</span><br>ค้นหาว่าวิทยาศาสตร์ช่วยปกป้องโลกของเราจากมลภาวะต่างๆได้อย่างไร เด็กๆจะช่วยกันรีไซเคิลกระดาษเก่าเพื่อนำกลับมาใช้ใหม่
                    </p>
                    <p>
                      <span style="font-weight: 600; text-decoration: underline;">ครัววิทยาศาสตร์ (Science Kitchen)</span><br>เด็กๆจะเพลิดเพลินกับสาระทางวิทยาศาสตร์ที่เกี่ยวข้องกับอาหาร และการทำขนมคุกกี้ สนุกกับการทดสอบความเป็นกรดและด่างของสารเคมีต่างๆที่พบเห็นในบ้าน
                    </p>
                  </div>
                </uib-accordion>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="{{ 'CAMP_CLASSROOM' | translate }}">
        2
        </uib-tab>
        <uib-tab index="2" heading="{{ 'CAMP_KINDERGARTEN' | translate }}">
        3
        </uib-tab>
      </uib-tabset>
      <!-- <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Details</a></li>
        <li><a data-toggle="tab" href="#menu2">Review(2)</a></li>
      </ul>
      <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
          hi
        </div>
        <div id="menu2" class="tab-pane fade">
          hi2
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-1.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-1">$50</div>
          <div class="caption border-color-1">
            <h3><a href="course-single-left-sidebar.html" class="color-1" translate="MAD_SCIENCE_ADVENTURE_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-yellow">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-2.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-2">$50</div>
          <div class="caption border-color-2">
            <h3><a href="course-single-left-sidebar.html" class="color-2" translate="MAD_SCIENCE_FUN_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-green">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-3.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-3">$50</div>
          <div class="caption border-color-3">
            <h3><a href="course-single-left-sidebar.html" class="color-3" translate="MAD_SCIENCE_FANTASTIC_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-red">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-4.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-4">$50</div>
          <div class="caption border-color-4">
            <h3><a href="course-single-left-sidebar.html" class="color-4" translate="MAD_SCIENCE_GENIUS_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-sky">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-3.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-5">$50</div>
          <div class="caption border-color-5">
            <h3><a href="course-single-left-sidebar.html" class="color-5" translate="MAD_SCIENCE_HA_HA_HA_CAMP"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-purple">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-4.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-6">$50</div>
          <div class="caption border-color-6">
            <h3><a href="course-single-left-sidebar.html" class="color-6" translate="RED_HOT_ROBOTS"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-pink">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-1.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-1">$50</div>
          <div class="caption border-color-1">
            <h3><a href="course-single-left-sidebar.html" class="color-1" translate="MAD_SCIENCE_ADVENTURE_THROUGH_TIME"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-yellow">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-2.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-2">$50</div>
          <div class="caption border-color-2">
            <h3><a href="course-single-left-sidebar.html" class="color-2" translate="SECRET_AGENT_LAB_ONE"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-green">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 block">
        <div class="thumbnail thumbnailContent">
          <a href="course-single-left-sidebar.html"><img src="images/home/courses/course-3.jpg" alt="image" class="img-responsive"></a>
          <div class="sticker bg-color-3">$50</div>
          <div class="caption border-color-3">
            <h3><a href="course-single-left-sidebar.html" class="color-3" translate="SECRET_AGENT_LAB_TWO"></a></h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i>Age 2 to 4 Years</li>
              <li><i class="fa fa-clock-o" aria-hidden="true"></i>9.00AM-11.00AM</li>
            </ul>
            <ul class="list-inline btn-green">
              <li><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-shopping-basket " aria-hidden="true"></i>Add to Cart</a></li>
              <li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
