<!-- MAIN SECTION -->
<section class="mainContent full-width clearfix">
  <div class="container">
    <div class="sectionTitle text-center">
      <h2>
        <span class="shape shape-left bg-color-4"></span>
        <span translate="OUR_SERVICES"></span>
        <span class="shape shape-right bg-color-4"></span>
      </h2>
    </div>
    <div class="row">
      <div class="col-xs-12 block">
        <p>test the text</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="media servicesStyle">
          <span class="media-left bg-color-1">
            <i class="fa fa-home bg-color-1" aria-hidden="true"></i>
          </span>
          <div class="media-body">
            <h3 class="media-heading color-1" translate="PARENTS"></h3>
            <p translate="PARENTS_SERVICE_DETAILS"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="media servicesStyle">
          <span class="media-left bg-color-2">
            <i class="fa fa-graduation-cap bg-color-2" aria-hidden="true"></i>
          </span>
          <div class="media-body">
            <h3 class="media-heading color-2" translate="SCHOOLS"></h3>
            <p translate="SCHOOLS_SERVICE_DETAILS"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="media servicesStyle">
          <span class="media-left bg-color-3">
            <i class="fa fa-building bg-color-3" aria-hidden="true"></i>
          </span>
          <div class="media-body">
            <h3 class="media-heading color-3" translate="ORGANIZATIONS"></h3>
            <p translate="ORGANIZATIONS_SERVICE_DETAILS"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="media servicesStyle">
          <span class="media-left bg-color-4">
            <i class="fa fa-cutlery bg-color-4" aria-hidden="true"></i>
          </span>
          <div class="media-body">
            <h3 class="media-heading color-4">Delicious Food</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="media servicesStyle">
          <span class="media-left bg-color-5">
            <i class="fa fa-heart bg-color-5" aria-hidden="true"></i>
          </span>
          <div class="media-body">
            <h3 class="media-heading color-5">Love &amp; Care</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="media servicesStyle">
          <span class="media-left bg-color-6">
            <i class="fa fa-shield bg-color-6" aria-hidden="true"></i>
          </span>
          <div class="media-body">
            <h3 class="media-heading color-6">Meny Sports</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
